.flash {
    display: none;
    text-align: center;
}

.sad {
    font-size: 20px;
}

.answer {
    display: block;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.highscoreItem {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

#return {
    margin-top: 10px;
    margin-bottom: 10px;
}

#clear-score {}

.savedScore {
    font-weight: bolder;
    font-family: 'Noto Serif', serif;
    font-size: 18px;
}

.your-final-score {
    font-weight: bold;
    font-size: 20px;
    font-family: 'Noto Serif', serif;
}

.quiz-central {
    background-color: #f1faee;
    border: black;
}

#time-remaining {
    font-weight: bold;
}

.input-box {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

p {
    font-family: 'Raleway', sans-serif;
    text-align: justify;
    margin-top: 15px;
    line-height: 150%;
}

.titles {
    font-size: 30px;
    font-family: 'Noto Serif', serif;
    margin-bottom: 20px;
    color: #50cbd0;
}

title {
    font-family: 'Noto Serif', serif;
}

body {
    background-image: url("./Assets/moroccan-flower.png");
}

.highscore {
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
}

.highscore-history {
    margin-top: 20px;
}

.questions {
    margin-top: 20px;
    font-family: 'Raleway', sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}

.quiz-container {
    margin-top: 20px;
}

.end-quiz {
    margin-top: 20px;
}

.greeting {
    text-align: center;
    font-family: 'Noto Serif', serif;
    color: #50cbd0;
}

#start-button {
    border-radius: 15px;
}

#return {
    border-radius: 15px;
}

#clear-scores {
    border-radius: 15px;
}